.SignIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__additional {
    display: flex;

    div {
      &:first-child {
        margin-right: 5px;
      }
    }
  }

  &__errors {
    margin-top: 20px;
    color: red;
  }

  .btn {
    width: 250px;
  }
}